ml/samples

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.ko
*.mod.*

# JUCE build artifacts
Builds/
JuceLibraryCode/

# Visual Studio cache files
ipch/
*.aps
*.ncb
*.sdf
*.opensdf
*.user
*.userosscache
*.suo
*.sln.docstates

# Visual Studio Code
.vscode/

# Xcode
*.xcworkspace
*.swp
*.swo
*.user
*.mode1v3
*.mode2v3
*.perspectivev3
*.pbxuser
*.moved-aside
DerivedData/
*.hmap
*.ipa
*.xcuserstate

# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*

# Thumbnails
._*

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Backup files
*.bak
*.tmp
*~
*.swp
